<%= render partial: 'layouts/partials/form_error_messages', locals: { object: @post } %>

<p class="label"><%=f.label :description, "Description:" %></p>
<p class="description"><%=f.text_area :description %></p>
	
