<div class="footer">
	<div class="wrapper">
		<div class="contact">
			<p>Contact us:</p>
			<a class="email" href="mailto:admin@forumname.com">admin@forumname.com</a>
		</div>
		<div class="copyrights">&copy;<%=Date.today.year %> Forumname</div>
		<div class="clear"></div>
	</div>
</div>